<md-content flex id="content" layout="row" layout-wrap type="{{$ctrl.parentCtrl.view | lowercase}}" filter="{{$ctrl.parentCtrl.filter | lowercase}}">
    <div class="item" ng-if="$ctrl.data" ng-repeat="item in $ctrl.data" flex-gt-sm="25" favorite="{{$ctrl.isFavorite(item.id)}}">
        <md-toolbar class="md-toolbar-tools title">
            <h3>{{item.data.title}}</h3>
        </md-toolbar>
        <div class="image">
            <img ng-src="{{item.data.images.thumbnails[0].url}}" />
        </div>
        <div class="footer" layout="row" layout-align="center center">
            <p class="date" flex="90">{{item.data.published_at | amDateFormat:'YYYY.MM.DD'}}</p>
            <md-button class="btn1" ng-if="!$ctrl.isFavorite(item.id)" ng-click="$ctrl.onAddToFavorite(item.id);" flex="10">
                <span translate>{{'BUTTON_ADD'}}</span>
            </md-button>
            <md-button class="btn1" ng-if="$ctrl.isFavorite(item.id)" ng-click="$ctrl.onRemoveFromFavorite(item.id);" flex="10">
                <span translate>{{'BUTTON_REMOVE'}}</span>
            </md-button>
        </div>
    </div>
    <div ng-if="!$ctrl.data" class="spinner"></div>
</md-content>
