<md-content flex id="content" layout="row" layout-wrap>
    <div class="item" ng-repeat="item in $ctrl.data" flex="20">
        <md-toolbar class="md-toolbar-tools">
            <h3>{{item.data.title}}</h3>
        </md-toolbar>
        <div class="image">
            <img ng-src="{{item.data.images.thumbnails[0].url}}" />
        </div>
        <div class="footer" layout="row" layout-align="center center">
            <p class="date" flex="90">{{item.data.published_at | amDateFormat:'YYYY.MM.DD'}}</p>
            <md-button class="btn1" ng-click="$ctrl.onAdd();" flex="10">
                <span translate>{{'BUTTON_ADD'}}</span>
            </md-button>
        </div>
    </div>
</md-content>
