<md-sidenav md-component-id="left" class="md-sidenav-left">
    <md-toolbar class="md-toolbar-tools">
        <h1>
            <span translate>{{'SIDEBAR_TITLE'}}</span>
            <md-button class="btn1" ng-click="$ctrl.onHide();">
                <span translate>{{'BUTTON_HIDE'}}</span>
            </md-button>
        </h1>
    </md-toolbar>

    <md-content layout-padding>
        <h2>{{'VIEW_TITLE'}}</h2>

        <md-select ng-model="view">
            <md-option>Grid</md-option>
            <md-option>List</md-option>
        </md-select>
    </md-content>

    <md-content layout-padding>
        <h2>{{'FILTER_TITLE'}}</h2>

        <md-select ng-model="filter">
            <md-option>All</md-option>
            <md-option>Only Favorites</md-option>
        </md-select>
    </md-content>
</md-sidenav>
