header {
    .main_menu {
        width: 100%;
    }
}

.btn1 {
  color : rgb(49, 46, 46);
  background-color: rgba(255, 222, 121, 0.96);
  border-radius: 10px;
  font-size: 16px;

  &:not([disabled]):hover {
    background-color: rgba(107, 103, 91, 0.96);
    color: white;
  }

  &[disabled] {
    color : rgb(187, 187, 187);
    background-color: rgba(230, 230, 229, 0.96);
  }
}

#content {
    .item {
        padding: 1%;
        .title {
            height: 76px;
            max-height: 76px;
        }
        .btn1 {
            float: right;
        }
        h3 {
            line-height: 110%;
            font-size: 100%;
        }
        .image {
            position: relative;
        }
        img {
            width: 100%;
            height: auto;
        }
        p {
            padding: 0px;
            margin: 0px;
        }
    }

    &[type="list"] {
        display: block;
        .item {
            display: flex;
            max-width: 100%;
            .image {
                display: none;
            }
            .date {
                padding: 0px 1rem;
            }
        }
    }

    &[filter="favorites"] {
        .item[favorite="false"] {
            display: none;
        }
    }
}

.md-sidenav-left {
    h1 {
        width: 100%;
    }
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 222, 121, 0.96);

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
